{{template "base" .}}
{{define "content"}}
<header>
    <h1> Delete Route</h1>
</header>

<form action="/schedule/delete" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFTOKEN}}"/>  
    <input type="hidden" name="_method" value="DELETE">
    <div>
        <label>Schedule ID of the Route</label>
        <input type="text" name="id">
    </div>
    <input type="submit" value="Delete Route">
    </div>
</form>
<hr>
<footer>
    
</footer>
{{end}}